body {
    background: lightgrey;
}

h1 {
  font-family: sans-serif;
  font-size: 24pt;
  margin-top: 5px
  margin-bottom 0px;
}

h2 {
  font-family: sans-serif;
  font-size: 12pt;
  margin-top: 5px;
}

.main-content {
    max-width: 1500px;
    margin-right: auto;
    margin-left: auto;
    width: 90;
}

.left {
    background: rgba(0,0,0, 0.1);
    max-width: 500px;
    margin-right: 20px;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
}

.middle {
    max-width: 500px;
    margin-right: 20px;
    float: left;
}

.right {
    max-width: 600px;
    float: left;
}

.vis-text {
  background: rgba(0,0,0, 0.1);
  max-width: 500px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.vis-text p {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  font-style: sans-serif;
  font-size: 10pt;
  line-height: 12pt;
}

.vis-text h2 {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  font-style: sans-serif;
  font-size: 12pt;
}

.vis-title {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: auto;
  margin-left: auto;
}

.vis-subtitle {
  font-size: 9pt;
  font-family: monospace;
  line-height: 16pt;
  margin-bottom: 5px;
  border-bottom: 1px solid lightgrey;
  /*text-align: center;*/
}

.compSet {
  background-color: rgba(0,0,0, 0.3);
}

.compSetSelected {
  background-color: white;
  border-color: black;
}

.outline {
  stroke: rgba(0,0,0,0);
  stroke-width: 0.2;
  fill: rgba(0,0,0,0);
}

.outlineHighlight {
  stroke: rgba(255,0,0,1);
  stroke-width: 1;
  fill: rgba(0,0,0,0);
}

.outlineHover {
  stroke: slategrey;
  stroke-width: 1;
  fill: rgba(0,0,0,0);
}

.outlineSelected {
  stroke: darkred;
  stroke-width: 2;
  fill: rgba(0,0,0,0);
}

.outlineEx1 {
  stroke: darkgreen;
  stroke-width: 3;
  fill: rgba(0,0,0,0);
}

.outlineEx2 {
  stroke: lightgreen;
  stroke-width: 3;
  fill: rgba(0,0,0,0);
}

.pointEx1 {
  stroke: rgba(0,0,0,0.5);
  stroke-width: 1;
  fill: darkgreen;
}

.pointEx2 {
  stroke: rgba(0,0,0,0.5);
  stroke-width: 1;
  fill: lightgreen;
  opacity: 20;
}


.point {
  stroke: rgba(0,0,0,0.5);
  stroke-width: 1;
  fill: rgba(0,0,0,0.2);
}

.pointHighlight {
  stroke: rgba(0,0,0,0.5);
  stroke-width: 1;
  fill: rgba(255, 0, 0, 1);
}

.pointHover {
  stroke: rgba(0,0,0,0.5);
  stroke-width: 1;
  fill: slategrey;
}

.pointSelected {
  stroke: rgba(0,0,0,1);
  stroke-width: 1;
  fill: darkred;
}

.selection {
  fill: #ADD8E6;
  stroke: #ADD8E6;
  fill-opacity: 0.3;
  stroke-opacity: 0.7;
  stroke-width: 2;
  stroke-dasharray: 5, 5;
}

#vis-outlines-details {
}

#vis-outlines-details p {
  font-size: 7.5pt;
  font-family: monospace;
  line-height: 9.25pt;
  margin-top: 0px;
  margin-bottom: 0px;
}

#vis-outlines {
  background: white;
  margin-right: auto;
  margin-left: auto;
  float: left;
}

#vis-nav {
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
}

#vis-scatter-plot {
  background: white;
  float: left;
}

#vis-scatter-plot-details {
  background: white;
  margin-top: 1px;
  margin-bottom: 5px;
  float: left;
  width: 300px;
}

#vis-scatter-plot-details span {
  font-size: 7.5pt;
  font-family: monospace;
  line-height: 16pt;
  margin-left: 10px;
}

#vis-scatter-plot-details button {
  font-size: 9pt;
  font-family: monospace;
  line-height: 16pt;
  margin-left: 5px;
  margin-bottom: 5px;
}